.favorite-item {
  max-width: 500px;
  margin: 10px;
  display: flex;
  border: 2px solid white;
  position: relative;
  padding: 10px;
  box-sizing: border-box;

  color: white;
  background-color: #343741;
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.3);
}
.favorite-item img {
  max-width: 90px;
  border-radius: 7px;
  margin-left: 5px;
}
.favorite-item-content h1 {
  font-size: 16px;
}
.favorite-item-content p {
  font-size: 14px;
  color: #bebebe;
}
.favorite-item button {
  width: 80%;
  margin-top: 15px;
  padding: 5px 10px;
}
@media (max-width: 468px) {
  .favorite-item {
    border: 1px solid white;
    position: relative;
    padding: 5px;
  }
  .favorite-item-content p {
    font-size: 11px;
  }
  .favorite-item-content h1 {
    font-size: 14px;
  }
  .favorite-item img {
    max-width: 60px;
  }
  .favorite-item button {
    width: fit-content;
    margin-top: 5px;
    padding: 5px 10px;
  }
}
